html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*, *:before, *:after {
box-sizing: inherit;
}

header {
  position: fixed;
  height: 4rem;
  padding: 0 1.5rem;
  width: 100%;
  background-color: white;
  z-index: 1;
}

header .desktop {
  display: flex;
  justify-content: flex-start;
  height: inherit;
  align-items: center;
}

header img {
  display: inline-block;
  height: 2rem;
}

header h2 {
  text-transform: uppercase;
  display: inline-block;
  flex-grow: 1;
}

header h2 span {
  font-weight: bold;
}

header nav span {
  display: inline-block;
  padding-left: 1rem;
}

header nav a {
  text-decoration: none;
  color: gray;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 630px ) {

  header .desktop {
    display: none;
  }

  header .mobile {
    display: flex;
    height: inherit;
    justify-content: space-around;
    align-items: center;
  }
}
/*Main content styling*/
main {
  position: relative;
  color: white;
  top: 4rem;
  background-color: blue;
}

section {
  padding: 2rem 0 2rem 1.5rem;
}

.hook {
  display: flex;
  justify-content: flex-start;
}

.image-container {
  width: 60%;
  height: auto;
  padding-right: 1.5rem;
}

.image-container img, video {
  width: 100%;
  height: auto;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
}

.detail-container .item {
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

.detail-container .item img.desktop {
  width: 35%;
  height: 100%;
  padding-right: 1rem;
}

.detail-container .item .mobile {
  display: none;
}

.detail-container .item-info {
  width: 65%;
  margin: auto;
  line-height: 1.2;
}

.detail-container .item-info h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.detail-container .item-info h3 {
  font-size: 1rem;
  padding: 0.25rem 0 0.5rem 0;
}

.detail-container .item-info a {
  font-size: 1rem;
  color: blue;
}

@media only screen and (max-width: 630px) {
  section {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .hook {
    display: block;
  }

  .image-container {
    width: 100%;
    padding: 0;
  }

  .detail-container {
    width: auto;
    padding: 1rem 1rem 2rem 1rem;
  }

  .detail-container .item-info {
    width: 90%;
  }

  .detail-container .item-info a {
    display: block;
    padding-bottom: 4rem;
  }
}

/*Banner-specific styling*/
.banner {
  background-color: lightgray;
}

.banner .detail-container {
  justify-content: center;
  width: 40%;
}

.motto {
  width: 90%;
  height: auto;
}

.motto h1,h2 {
  color: darkgray;
}

.motto h1 {
  font-size: 2.5rem;
}

.motto h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.button {
  background-color: darkgray;
  width: 90%;
  padding: 0.5rem 0;
  text-align: center;
}

.button h3 a {
  color: lightgray;
}

@media only screen and (max-width: 630px) {
  .desktop {
    display: none;
  }

  .banner .detail-container {
    width: 100%;
    padding: 2rem 1rem;
  }

  .motto {
    width: 100%;
  }

  .motto h1 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }

  .motto h2 {
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 1.5rem;
    margin: 0;
  }

  .button {
    width: 100%;
  }

  .button h3 a {
    color: white;
    font-size: 1rem;
  }
}

/*Events section styling*/
.events {
  background-color: white;
  color: black;
}

#guest-lecture {
  padding-bottom: 0;
}

@media only screen and (max-width: 630px) {

  .events
  .events .detail-container {
    margin: 0;
    align-items: center;
  }

  .detail-container .event img.mobile {
    display: block;
    width: 100%;
    margin: auto;
  }

  .detail-container .event {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}

/*Courses section styling*/
.courses {
  background-color: lightgray;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5rem 2rem;
}

.course-menu.mobile {
  display: none;
}

.courses h1 {
  padding-bottom: 2rem;
}

.course-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.course-menu figure {
  margin-bottom: 2rem;
  width: 30%;
  height: auto;
  background-color: white;
}

.course-menu figure:nth-child(3n+2) {
  margin: 0 2rem;
}

.course-menu figure img {
  width: 100%;
  height: auto;
}

.course-menu figure figcaption {
  padding: 0.5rem 0 1.5rem 1rem;
  height: 9rem;
}

.course-menu figure figcaption h1 {
  padding-bottom: 0;
}

#course-list-heading {
  text-transform: uppercase;
  padding: 0.5rem 0;
}

@media only screen and (max-width: 720px) {

  .course-menu {
    justify-content: space-around;
    align-items: flex-start;
  }

  .course-menu figure:nth-child(3n+2) {
    margin: 0;
  }

}

@media only screen and (max-width: 630px) {
  .course-menu.desktop {
    display: none;
  }

  .course-menu.mobile {
    display: block;
    background-color: white;
  }

  ul {
    list-style: none;
  }

  li {
    background-color: gray;
    margin: 0.5rem 0;
  }

  a {
    color: black;
    padding: 1rem 0 1.5rem 1rem;
    text-decoration: none;
  }
}
 /*Thesis section styling*/
.thesis {
  background-color: white;
  color: black;
}

footer {
  position: relative;
  top: 4rem;
  width: 100%;
  padding: 1rem 1.5rem 2rem 1.5rem;
  background-color: gray;
  color: black;
}
